FT245B/bin/Debug/FT245B.exe.config
FT245B/bin/Debug/FT245B.vshost.exe
FT245B/bin/Debug/FT245B.vshost.exe.config
FT245B/bin/Debug/FT245B.vshost.exe.manifest
FT245B/obj/x86/Debug/FT245B.csproj.FileListAbsolute.txt
FT245B/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.config
FT245B.v12.suo
FT245B/bin/Debug/FT245B.vshost.exe
FT245B/obj/x86/Debug/FT245B.csproj.FileListAbsolute.txt
FT245B/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FT245B/obj/x86/Debug/FT245B.csproj.FileListAbsolute.txt
FT245B/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FT245B/bin/Debug/FT245B.vshost.exe
FT245B/bin/Debug/FT245B.vshost.exe
FT245B/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FT245B/obj/x86/Debug/FT245B.csproj.FileListAbsolute.txt
